.bg-one {
    background-color: aqua;
    border: 1px solid blue;
    padding: 10px;
}

.bg-two {
    background-color: bisque;
    border: 1px solid brown;
    padding: 10px;
}

.bg-three {
    background-color: darkseagreen;
    border: 1px solid green;
    padding: 10px;
}

.alert {
    margin-bottom: 0 !important;
}
.bg-dark {
    background-color: #042c54!important;
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif !important;
}

.form-container {
    border: 2px solid green;
    padding: 20px;
    width: 60%;
    margin-top: 30px;
}

.form-check-inline {
    margin-top: 36px;
}